.container {
  padding: 0 3.1rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 1.5rem 0;
}

.title {
  font-weight: 800;
  margin: 2rem 0 0.5rem;
}

.description {
  color: #8B8D94
}

.checkInputContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.checkInput {
  color: #8B8D94;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.checkInput:not(:last-child) {
  margin-right: 1rem;
}

.fieldsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fieldsWrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
}

.fieldsWrapper button {
  font-family: inherit;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  padding: 0.3em;
  width: 2em;
  color: white;
  background-color: #3772FF;
  cursor: pointer;
}

.fieldsWrapper button:not(:first-of-type) {
  margin-top: 0.3rem;
}

.fieldsWrapper button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
 }

.textBox {
  width: 100%;
  font-family: inherit;
  padding: 0.5rem 0.8rem;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.textBox:not(:first-of-type) {
  margin-left: 0.5rem;
}

.subTitle {
  margin: 2rem 0 0.8rem;
}

.result {
  padding: 1rem;
  background-color: #fafafa;
  border-radius: 0.4rem;
  white-space: pre-wrap;
  margin: 0;
  height: 30vh;
  overflow: auto;
}

.buttonWrapper {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.buttonWrapper span {
  margin-left: 0.5rem;
  color: #bbbec7;
  font-size: 12px;
}

.copyButton {
  font-family: inherit;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  max-width: 200px;
  padding: 1em 2em;
  color: white;
  background-color: #3772FF;
  cursor: pointer;
}

 .copyButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
 }